<div>
  <div class="mb-3">
    <h1>
      Your Moods
    </h1>
  </div>
</div>

<div>
  <div>
    <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">
          Mood
        </th>

        <th scope="col">
          Created 
        </th>

        <th scope="col">
          Updated
        </th>

        <th scope="col">
        </th>
      </tr>

    <tbody>
      <% @list_of_moods.each do |a_mood| %>
      <tr>

        <td>
          <%= a_mood.label %>
        </td>

        <td>
          <%= a_mood.created_at.strftime("%b %d, %Y") %>
        </td>
        <td>
          <%= a_mood.updated_at.strftime("%b %d, %Y") %>
        </td>

        <td>
          <a href="/moods/<%= a_mood.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>


<div>
  <div>
  <div class="mb-2">
    <h2>
      Add a new mood
    </h2>
  </div>

    <form action="/insert_mood" method="post">
      <div class="mb-2">
        <label for="label_box">
          Mood
        </label>

        <input type="text" id="label_box" name="query_label">
      </div>
    

      <button class="btn btn-secondary btn-sm">
        Add Mood
      </button>
    </form>
  </div>
</div>