<div class="jumbotron">
  <div class="mb-3">
  <h2 class="lead"> What is your mood right now? </h2>
  </div>

<div class="mb-4">
  <form action="/select_mood">
  
      <select name="query_mood_id" id="mood_id_box">
          <% @current_user.moods.order(:label).each do |a_mood| %>
            <option value="<%= a_mood.id %>">
              <%= a_mood.label %>
            </option>
          <% end %>
        </select>
    </div>

     <div class="mb-3">
      <button class="btn btn-info btn-sm">
        Find Playlists
      </button>
    </div>

    </form>
  
</div>
