<h2> What is your mood right now? </h2>

  <form action="/moods/:path_id">

      <label for="playlist_id_box">
          My Mood
        </label>
  
      <select id="mood_id_box">
          <% @current_user.moods.order(:label).each do |a_mood| %>
            <option value="<%= a_mood.id %>">
              <%= a_mood.label %>
            </option>
          <% end %>
        </select>
     
     <div>
      <button>
        Find Playlists
      </button>
    </div>
    </form>
