<h2> Welcome to Mood Board </h2>
<h4> Find your music that fits any mood </h4>

<ul>
<a href="/user_sign_in">
<button>Sign In</button>
</a>
</ul>

<ul>
<a href="/user_sign_up">
<button>Sign Up</button>
</a>
</ul>

